.listas{
    padding: 10px 0px 5px 0px;
    border-bottom: 1px dashed black;
}

.listas .btn{
    margin: 0 auto;
}


.select2-close-mask{
    z-index: 10000 !important;
}
.select2-dropdown{
    z-index: 10001 !important;
}

.select2-container {
    z-index: 99999 !important;
}

table .form-control {
    padding: .0rem .3rem !important;
}



